body 
{
    background-color: lightyellow;
}
h1
{
    text-align: center; 
    color: darkgoldenrod;
    font-family: verdana;
}
table, tr, td 
{
    background-color: lightgrey;
    border: 3px solid darkolivegreen;
    border-collapse: collapse;
    text-align: center;

}
p 
{
    text-align: left;
}
   
